.hidden {
    display:none;
}

.bg-gradient-primary {
    /*background-color: #1B0273;*/
    /*background-image: linear-gradient(180deg, #BF1784 10%, #1B0273 100%);*/
    /*background-image: linear-gradient(180deg, #F2059F 10%, #011F26 100%);*/
    background-size: cover;
}
.connected_bolt {
  animation-name: connected;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes connected {
  0% {color: #ffffff;}
  50% {color: #1cc88a; }
  100% {color: #ffffff;}
}

.alert_active_red {
  animation-name: blink_red;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes blink_red {
  0% {color: #cccccc;}
  50% {color: #ff0000; }
  100% {color: #cccccc;}
}

.alert_active_orange {
  animation-name: blink_orange;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes blink_orange {
  0% {color: #cccccc;}
  50% {color: #f5a142; }
  100% {color: #cccccc;}
}

.alert_active_yellow {
  animation-name: blink_yellow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes blink_yellow {
  0% {color: #cccccc;}
  50% {color: #ff9900; }
  100% {color: #cccccc;}
}

.alert_inactive_unacked_green {
  animation-name: blink_green;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes blink_green {
  0% {color: #cccccc;}
  50% {color: #1cc88a; }
  100% {color: #cccccc;}
}


.alert_resolved {
  color: #1cc88a;
}

.alert_resolved_green {
  color: #1cc88a;
}

.device_info_connect{
  padding-right: 20px;
}

.icon-pad {
  padding-right: 3px;
}

.code {
  font-family: Courier New;
  color: #F2059F;
}

.roster_nav{
  margin-top: : 5px;
  margin-bottom: : 15px;
}


.sub_nav .active {
  border-radius: 10px;
  background: #ffffff;
  font-weight: 800;
}

#toasts {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 350px;
  z-index: 100;
}

.time_switch i {
  padding-right: 5px;
}

.icon_hover_over {
  color: #444;
}

.scan-success {
  color: green;
}

.scan-fail {
  color: red;
}

.sub_nav {
  margin-bottom: 15px;
}