<!-- Playlist Edit -->

{% extends "layout.html" %}

{% block content %}

<!-- Playlist info header -->
<div class="row">
  <div class="col-lg-6">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">
        {{playlist.name}}
      </h1>
    </div>
  </div>

</div>
<!-- End Playlist info header -->

<ul class="nav sub_nav">
  <li class="nav-item">
    <a class="nav-link {%if active_page=='dashboard'%}active{%endif%}" href="/playlists/edit/{{playlist.id}}">Edit</a>
  </li>
</ul> 

<!-- Content Row -->
<div class="row">
  <!-- Playlist Info -->
  <div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-12">
      <!-- Card Header -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">
          Info
        </h6>
      </div>

      <!-- Card Body -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
            <tr>
              <td><b>Name</b></td>
              <td>{{playlist.name}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div><!-- END Playlist Info -->
</div>


<div class="row">
  <!-- Playlist Urls -->
  <div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-12">
      <!-- Card Header -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">
          Urls
        </h6>
      </div>

      <!-- Card Body -->
      <div class="card-body">
        <div class="table-responsive">
          <table id="play_list_urls" class="table table-striped" id="dataTable" width="100%" cellspacing="0">
            {%for url in urls%}
            <tr>
              <td>{{url.name}}</td>
              <td>{{url.address}}</td>
              <td>
                <a href="/playlists/quick-save-remove-url/{{playlist.id}}/{{url.id}}">x</a>
              </td>
            </tr>
            {%endfor%}
            <tr>
              <select id="add_url" name="add_url">
                {% for url in all_urls%}
                <option value="{{url.id}}">{{url.name}}</option>
                {%endfor%}
              </select>
            </tr>
          </table>
          <input id="pl_url_ids" type="text" value="{{flat_urls}}">
          <button id="save_playlist">Save</button>
        </div>
      </div>
    </div>
  </div><!-- END Playlist Info -->

</div>
{%endblock%}


{%block javascript%}
  <script type="text/javascript">
    $( document ).ready(function(){
      $('#add_url').change(function(){
        console.log('hey');
        console.log($(this).val());
        option_val = $(this).val();
        $("#pl_url_ids").val($("#pl_url_ids").val() + "," + option_val);

      });

      $('#save_playlist').click(function(){
        playlist_urls = $("#pl_url_ids").val();
        console.log(playlist_urls);
      });

    });
  </script>
{%endblock%}

<!-- End File: kio/kio-server/templates/playlists/edit.html