<!-- Device Info -->

{% extends "layout.html" %}

{%block head%}
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
{%endblock%}

{% block content %}

<!-- Device info header -->
<div class="row">
  <div class="col-lg-6">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">
        {{device.name}}
      </h1>
    </div>
  </div>
  <div class="col-lg-6 text-right">
    <!-- <i class="fas fa-bolt"></i> -->
    <a id="device-favorite" href="#" class="btn btn-warning btn-circle btn-lg">
      <i class="fa"></i>
    </a>
  </div>
</div>
<!-- End Device info header -->

  <!-- Content Row -->
  <div class="row">
    <!-- Device Info -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Info
          </h6>
        </div>

        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
              <tr>
                <td><b>Address</b></td>
                <td>
                  <code>{{device.address}}</code>
                </td>
              </tr>
              <tr>
                <td><b>Last Seen</b></td>
                <td><code>{{device.last_seen}}</code></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div><!-- END Device Info -->


    <!-- Device Control -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Control
          </h6>
        </div>

        <!-- Card Body -->
        <div class="card-body">
          <form id="cmd_form" data-device-id="{{device.id}}">
          <div class="input-group">
            <input id="cmd_go_url" type="text" class="form-control">
            <div class="input-group-append">
              <button id="cmd_go" type="button" class="cmd btn btn-primary">Go</button>
            </div>
          </div>

          <div class="table-responsive">
            <a id="cmd_reboot" class="cmd btn btn-primary" href="#">Reboot</a><br/>
            <a id="cmd_sleep" class="cmd btn btn-primary" href="#">Sleep</a><br/>
            <a id="cmd_wakeup" class="cmd btn btn-primary" href="#">Wakeup</a><br/>
          </div>
        </div>
      </div>
    </div><!-- END Device Info -->

  </div>
{%endblock%}

{%block javascript%}
  <script type="text/javascript">


  $( document ).ready(function() {
    console.log( "ready!" );



    // Function to handle ajax requests to Kio API
    $(".cmd").click(function(){
      console.log('Clicked!');
      console.log($(this));

      var button = $(this),
          data = {};

      data['device_id'] = $("#cmd_form").attr("data-device-id");
      if($(this).attr('id') == 'cmd_go'){
        data['cmd'] = 'display_set';
        data['value'] = $("#cmd_go_url").val();
      } else if(button.attr('id') == "cmd_sleep"){
        data['cmd'] = 'display_toggle';
        data['value'] = 0;
      } else if(button.attr('id') == "cmd_wakeup"){
        data['cmd'] = 'display_toggle';
        data['value'] = 1;
      } else if(button.attr('id') == "cmd_reboot"){
        data['cmd'] = 'display_reboot';
      }
      console.log(JSON.stringify(data));
      $.ajax({
        type: "POST",
        url: '/api/cmd',
        data: JSON.stringify(data),
        contentType: "application/json",
        dataType: "json",
      });

    });


  });




  </script>
{%endblock%}

<!-- End File: kio/kio-server/templates/devices/info.html